@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body{
	background-color: yellow;
}

table {
	margin: 0 auto;
	margin-top: 20px;
}

.main {
	width: 600px;
	margin: 0 auto;
	padding: 10px;
}

.CLASSIFICADO{
	background-color: green;
	color: white;
}

.REBAIXADO{
	background-color: red;
	color: white;
}